<link rel="import" href="/components/lib/mootools.html"/>
<link rel="import" href="/core-field/core-field.html"/>
<link rel="import" href='./autocompleter/autocompleter.html' />
<link rel="import" href='./autocompleter/autocompleter.ajax.html' />
<link rel="import" href='./autocompleter/autocompleter.places.html' />

<polymer-element name="places-autocomplete">
	<template>
		<style>
		#completer{
			height:30px;
			padding-top:4px;
		}
		</style>
		<link rel="stylesheet" href='./autocompleter/autocompleter.css' />
			<core-field layout vertical left id="field">
				<div>
					<input placeholder="Search" id="completer" style="width:500px"></input>
				</div>
				<div>
					<google-map id="gmap" zoom="12"></google-map>
				</div>
				<content></content>
			</core-field>
	</template>
	<script>
		Polymer("places-autocomplete",{
			domReady: function( ){
				var map     = this.$.gmap 
				  , frisco  = new google.maps.LatLng(map.latitude, map.longitude)
				  , service = new google.maps.places.PlacesService( map )
				  , that    = this
				  , element = this.$.completer
				  ;

				element.focus();
				new Autocompleter.Places(service, frisco, element,{
					relative:true
					,postVar:'query'
					,emptyChoices:function(){
						new Element('li',{
							html:"No Matches Found"
						}).inject( this.choices );
						this.showChoices();
					}
					,onSelection: function( el, selected, txt, input ){
						el.set('value','')
					}
					,injectChoice: function( token ){
						var choice, type;
						choice = new Element('li');

						new Element('div',{
						    html: this.markQueryValue( token.name )
						}).inject( choice )

						type = new Element('div',{
						    text:(token.types[0]  || token.rating ).replace(/_/g,' ' )
						    ,"class":"small"
						}).inject(choice, 'bottom')

						new Element('img',{
							src:token.icon,
							height:'12px',
							styles:{
								padding:'0 4px'
							}
						}).inject( type,'top' );

						choice.inputValue = token.name;
						choice.addEvent('click', function(e){
							 var marker = new google.maps.Marker({
							     position: token.geometry.location,
							     animation: google.maps.Animation.DROP,
							     title:token.name
							 });

							 // To add the marker to the map, call setMap();
							 marker.setMap(that.$.gmap.map);
							 map.map.setZoom( 13 )
							 map.map.panTo( token.geometry.location )
						}.bind( this ))
						
						this.addChoiceEvents(choice).inject(this.choices);
					}
				});	
			}
		})
	</script>
</polymer-element>
